<div class="grid p-4 surface-ground">
    <!-- Columna Izquierda: Perfil y Contacto -->
    <div class="col-12 md:col-4">
        <p-card styleClass="h-full">
            <div class="text-center mb-5">
                <img src="/images/picture.jpeg" alt="Foto" class="w-9rem h-9rem border-circle shadow-4 mb-3">
                <h2 class="m-0">David Antonio Reyes González</h2>
                <span class="text-600">{{'POSITION' | translate}}</span>
            </div>
            <p-divider></p-divider>
            <div class="text-center mb-5">
                <h2 class="m-0">{{'PROFESSIONAL_SUMMARY' | translate}}</h2>
                <p class="text-justify">{{'PROFESIONAL_DESCRIPTION' | translate }}</p>
            </div>
            <p-divider></p-divider>
            <div class="mt-4">
                <h3 class="text-primary mb-3">{{'CONTACT' | translate}}</h3>
                <div class="flex align-items-center mb-2">
                    <i class="pi pi-envelope mr-3 text-primary"></i>
                    <span><a href="mailto:davidfi.unam@gmail.com">davidfi.unam@gmail.com</a></span>
                </div>
                <div class="flex align-items-center mb-2">
                    <i class="pi pi-linkedin mr-3 text-primary"></i>
                    <span><a href="https://www.linkedin.com/in/david-reyes-unam/">Linkedin</a></span>
                </div>
                <div class="flex align-items-center mb-2">
                    <i class="pi pi-github mr-3 text-primary"></i>
                    <span><a href="https://github.com/v1x0">Github</a></span>
                </div>
            </div>

            <div class="mt-4">
                <h3 class="text-primary mb-3">{{'SKILLS' | translate}}</h3>
                <div class="flex flex-wrap gap-2">
                    <p-chip label="Angular" icon="pi pi-star-fill"></p-chip>
                    <p-chip label="TypeScript" icon="pi pi-star-fill"></p-chip>
                    <p-chip label="PrimeNG"></p-chip>
                </div>
            </div>
        </p-card>
    </div>

    <!-- Columna Derecha: Experiencia y Educación -->
    <div class="col-12 md:col-8">
        <p-card header="{{'PROFESSIONAL_EXPERIENCE' | translate}}" styleClass="mb-4">
            <p-timeline [value]="experiencias">
                <ng-template pTemplate="opposite" let-exp>
                    <span>{{exp.periodo}}</span>
                </ng-template>
                <ng-template pTemplate="content" let-exp>
                    <div class="mb-4">
                        <span class="text-700 font-bold">{{exp.puesto}}</span>
                        <div class="text-500 mb-2">{{exp.empresa}}</div>
                        <ul>
                            @for (activity of exp.activities; track activity.id) {
                                <li>{{activity}}</li>
                            }
                        </ul>
                    </div>
                </ng-template>
            </p-timeline>
        </p-card>

        <p-card header="Educación">
            <div class="flex justify-content-between align-items-center mb-3">
                <div>
                    <div class="font-bold">Ingeniería en Sistemas</div>
                    <div class="text-600">Universidad Tecnológica</div>
                </div>
                <span class="text-500">2018 - 2022</span>
            </div>
        </p-card>
    </div>
</div>
